* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lob;
    text-shadow: 1px 1px 1px #ccc;
    line-height: 1.5;
    letter-spacing: 3px;
}



@font-face {
    font-family: lob;
    src: url(../font/Lobster-Regular.ttf);
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    top: 0;
    z-index: 55555555;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.233);
}

.navBar > a {
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    margin: 5px;
    color: #646363;
    font-weight: bold;
}

.navBar > a:hover {
    color: #d63485;
}

#menuOpenBtn, #menuCloseBtn {
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    margin: 5px;
    color: #646363;
    font-weight: bold;
    border: none;
    background-color: #fff;
}

.h1 {
    font-size: 30px;
    color: #d63485;
}


.paw {
    color: rgb(185, 122, 5);
}

.cart{
    color:#b97a05;
    font-size: 25px;
    margin: 0 5px;
    text-decoration: none;
}

.round {
    display: none;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    color: #fff;
    font-family: serif;
    border-radius: 50%;
    background-color: #d63485;
    font-size: 12px;
    top: 10px;
    right: 90px;
}

.user {
    /* border: none; */
    color: #d63485;
    font-size: 25px;
    margin:  0 15px 0 0 ;
    /* margin:0 0 0 55px; */
}

#buttonUserOpen {
    display: inline;
    border: none;
    background-color: #fff;
}

#buttonUserClose {
    display: none;
    border: none;
    background-color: #fff;
}

/* nav end */
/* menu */

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #d63485;
    z-index: 1;
    left:-300px ;
    animation: non 1s 0s forwards;
}

.menu > a {
    color:#fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 10;
    letter-spacing: 5px;
    text-transform: capitalize;
}

@keyframes open {
    0% {
        left: -300px;top: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}
@keyframes close {
    0% {
        left: 0;top: 0;
    }

    100% {
        left: -300px;
        top: 0;
    }
}

/* menu end */
.navBar2 {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 12.2vh;
    /* left: 0; */
    margin-top: 12.2vh;
    width: 300px;
    height: 87.8vh;
    background-color: #ccc;
    z-index: 1;
    left:-300px ;
    animation: non 1s 0s forwards;
    /* background-image: ; */
}

.navBar2 > a {
    color:#fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 10;
    letter-spacing: 5px;
    text-transform: capitalize;
}

@keyframes openList {
    0% {
        left: -300px;top: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}
@keyframes closeList {
    0% {
        left: 0;top: 0;
    }

    100% {
        left: -300px;
        top: 0;
    }
}

/* form */

#formSingIn, #formSingUp {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 15px;
    line-height: 2;
    padding:35px;
    position: fixed;
    right: 30px;
    top: 90px;
    z-index: 2;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 0 25px 25px;
    /* border-radius: 50%; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    color: #fff;
    background-color:rgb(185, 122, 5);
    text-decoration: none;
}

.social-container a:hover {
    background-color:#d63485;
    color: #fff;
}

input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

form > a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.signInbtn, .signUpBtn {
    border-radius: 0 25px 25px;
    border: 1px solid #ccc;
    background-color:rgb(185, 122, 5);
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    padding: 12px 45px;
    letter-spacing: 1px;
    /* position: relative; */
    text-transform: uppercase;
    margin: 20px 0 ;
}

.signInbtn:hover, .signUpBtn:hover {
    background-color: #d63485;
}

#signUpA {
    border: none;
    background-color: #fff;
    font-size: 15px;
    color: #d63485;
    margin: 10px;
    font-weight: bold;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: no-repeat url(./img/dogphone.png);
    background-size: cover;
    background-position: 0%;
    filter: grayscale(0.1);
    /* background: linear-gradient(315deg); */
    /* margin-top: -5px; */
    /* border-bottom-radius: 10px ; */
    /* border-bottom-right-radius: 50% 100%; */
    
}

.shopButton {
    width: 160px;
    position: relative;
    height: 50px;
    font-size: 20px;
    color: #646363;
    border: #646363 2px solid;
    border-radius: 0 25px 25px;
    /* border-bottom-right-radius: 50%; */
    background-color: transparent;
    /* margin-left: -850px; */
    margin: 30px 0 0 -1000px;
}

.shop:hover  {
    color: #fff;
    z-index: 500;
}

.shopButton > a:hover {
    color: #fff;
    z-index: 6000;
}

.shop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0 25px 25px;
    clip-path: circle(0% at 0% 5%);
}

.shop:hover::before {
    color: #000;
    z-index: -1;
    background-color: #d63485;
    clip-path: circle(100%);
    transition: 0.4s linear;
}

.shopButton > a {
    color: #000;
    text-decoration: none;
    /* text-shadow:2px 2px 2px #000; */
}

.hi {
    color:rgb(185, 122, 5);
    color: #d63485;
    /* margin-left: -20px; */
}

.name {
    font-size: 50px;
    margin-left: -880px;
    color: #646363;
    text-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.281), 0 2px 10px 0 rgba(0, 0, 0, 0.664);
    
}


/* main */

main {
    display: flex;
    margin: 32px 0;
    width: 100%;
}

section {
    width: 1100px;
    margin: 100px auto 0;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #646363;
}

h2 > i {
    font-size: 25px;
    color: #d63485;
} 


.socialDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0 100px 0;
    /* height: 300px; */
}

.socialDiv > a {
    margin: 15px;
    color: #646363;
    cursor: pointer;
}

.socialDiv > a > i:hover {
    color: #000;
}

.socialDiv > a > i{
    margin: 7px;
    font-size: 40px;
    color: #d63485;
}


.message {
    display: flex;
    flex-direction: column;
    margin: 50px 0; 
}

.message > input {
    margin: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    /* background-color: #fff; */
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* border-top: none; */
}

.message .name {
   /* height: 200px; */
   border-bottom: 1px solid #ccc;
}

textarea {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9e4e4;
    margin-top: 15px;
    width: 100%;
    min-height: 120px;
    height: 120px;
    max-height: 180px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    margin-left: 15px;
    margin-bottom: 30px;
}

#send {
    width: 150px;
    height: 50px;
    font-weight: lighter;
    border-radius: 8px;
    /* letter-spacing: 5px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    color: #fff;
    margin-left: 15px;
    background-color: #d63485;
}

#send:hover {
    color: #fff;
    background-color: #646363;
}


/* footer */
footer {
    display: flex;
    width: 100%;
    background-color: #eee;
}

footer > div > button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #ccc;
    margin: 80px 5px;
    
}

footer > div > button:hover {
    color: #fff;
    background-color: #d63485;
}

footer > div  {
    margin: 0 auto;
}

#openMenu, #hideMenu {
    display: none;
    color: #d63485;
    font-size: 25px;
    margin:0 15px;
    border: none;
    background-color: #fff;

}


@media only screen and (max-width: 1150px) {
    section {
        width: 100%;
    }
    .content {
        flex-direction: column;
        /* margin: 0 auto; */
    }
    .buy {
        width: 50%;
        margin: 50px auto;
        
    }
    .navBar {
        display: flex;
    }
    #openMenu {
        display: none;
    }
    header {
        width: 100%;
        background-size: contain;
        background-position-x: left;
    }
   
  
   
}

@media only screen and (max-width: 850px) {
    section {
        width: 100%;
    }
    .content {
        flex-direction: column;
        /* margin: 0 auto; */
    }
    .buy {
        width: 70%;
        margin: 50px auto;
        
    }
    .navBar {
        display: none;
    }
    #openMenu {
        display: inline;
    }
   
    
}
@media only screen and (max-width: 650px) {
    section {
        width: 100%;
    }
    .content {
        flex-direction: column;
        /* margin: 0 auto; */
    }
    .buy {
        width: 90%;
        margin: 50px auto;

    }
  
}

